*{
  margin: 0%;
}

/*header*/
header {
    width: 100%;
    height: 600px;
    background: #03a3c7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(340, 95%, 50%, 0.459), hsla(317, 45%, 52%, 0.664)), url(../IMG/oficina.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    /*AQUI ABAJO VA EL LINK DE LA FOTO QUE VA DE FONDO EN EL HEADER*/
    background: linear-gradient(to right, hsla(214, 72%, 37%, 0.459), hsla(221, 90%, 49%, 0.664)), url(../images/inicio.jpeg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a{
    color:#fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav > a:hover{
    text-decoration: underline;
}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 50px;
    color:#fff;
}

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color:#fff;
}
.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

/*footer*/
footer{
    width:100%;
    background:#202020;
    color:white;
  }
  .container-footer-all{
    margin:auto;
    width: 90%;
    max-width: 1000px;
    padding:40px;
  }
  .container-body{
    display:flex;
    justify-content: space-between;
  }
  .column1{
    max-width:400px;
  }
  .column1 h1{
     font-size:22px;
  }
  .column1 p{
   font-size: 17px; 
   color:#C7C7C7;
   margin-top:20px;     
  }
  
  .column2{
    max-width: 400px;
  }
  .column2 h1{
    font-size: 22px;
  }
   .row{
    margin-top:20px;
    display:flex;
  }
  .row img{
    width:36px;
    height:36px;
    transition:all 300ms;
  }
  .row img:hover{
    transition:all 300ms;
    transform: scale(1.2);
    
  }
  
  .row label{
    margin-top:10px;
    margin-left:20px;
    color:#C7C7C7;
  }
  .column3{
    max-width: 400px;
  }
  
  .column3 h1{
    font-size:22px;
  }
  .row2{
    margin-top:20px;
  }
  .row2 img{
    width:36px;
    height:36px;
  }
  .row2 label{
    margin-left:20px;
    max-width: 150px;
  
  }
  .container-footer{
    max-width: 100%;
    background:#101010;
    padding:20px;
    text-align: center;
  }
  .copyright{
    color:#C7C7C7;
  }

  @media only screen and (max-width: 840px){
    .container-body{
      display:block;
    }
    .container-footer-all{
      padding: 20px 16px;
    }
    .column2,
    .column3{
      padding-top: 15px;
    }
}
  
  